header {
    color: white;
    background-color:cornflowerblue;
}

input, label {
    display: block;
    margin-top: 20px;
}
.dropdown {
    min-width: 100px;
    max-width: 200px; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-bottom: 10px;
    
  }

select  {
    width: 200px;
}

app-daily {
    text-align: center;
    padding-top: 20px
}
